.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(76, 155, 155);
}

.item{
    width: 100px;
    height: 80px;
    background-color: aquamarine;
    text-align: center;
    font-size: 24px;
    margin: 5px;
}

.item:nth-child(odd){
    background-color: rgba(63, 63, 247, 0.462);
}

.item:nth-child(even){
    background-color: rgb(106, 0, 244);
}