body{
    background-color: rgb(225, 228, 231);
    font-family: sans-serif;
}

#faq{
    background-color: rgb(242, 238, 238);
    border: 1px solid lightgray;
    margin: 10px auto;
    width: 650px;
    padding: 50px;
    text-align: center;
}

li{
    list-style: none;
    border: 1px;
    padding: 10px 10px 10px 40px;
    text-align: left;
    margin: 20px;
}

li:first-child{
    background-color: lightgray;
}

li:last-child{
    background-color: lightgray;
}

li:nth-child(odd){
    border-top: 4px solid rgb(57, 0, 243);
}

li:nth-child(even){
    border-top: 4px solid rgb(255, 5, 5);
}