body{
    text-align: center;
    background-color: antiquewhite;
    overflow: hidden;
    scroll-behavior: smooth;
    font-size: 1.5rem;
    scrollbar-color: rgb(245, 204, 152);
}

input{
    width: 30%;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}

#list-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    max-height: 100vh;
}

li{
    margin: 3px;
}

button{
    background-color: white;
    border-radius: 9px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
}

.abtn{
    padding: 7px;
    width: 80px;
    
}

button:hover{
    background-color: rgb(255, 226, 192);
}



