.card{
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px auto ;
    width: 270px;
    border-radius: 14px;
    box-sizing: border-box;
}
.card-header{
    position: relative;
}
.card-header img{
    width: 250px;
    border-radius: 11px;
    
}
.best{
    position: absolute;
    top: 0;
    margin: 10px;
    background-color: rgba(153, 153, 152, 0.607);
    color: rgb(255, 255, 255);
    padding: 2px 2px;
    border-radius: 4px;
    font-size: 10px;
}
.offer{
    position: absolute;
    bottom: 0;
    margin: 10px 10px 10px 0px;
    background-color: rgb(0, 106, 255);
    color: rgb(255, 255, 255);;
    padding: 1px 10px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
}
.time{
    position: absolute;
    bottom: 0px;
    right : 0px;
    margin: 10px 0px;
    background-color: rgba(255, 255, 255, 0.849);
    color: rgb(0, 57, 11);;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
}
.contentp1{
    font-size:14px;
    
}
footer{
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    font-size: smaller;
}
footer img{
    width: 60px;
    height: 30px;
    object-fit: cover;
    margin-right: 5px;
    
}

/*p2*/
.bg1{
    width: 580px;
    margin: 60px auto;
    position: relative;
    text-align: center;
}
.bg1 img{
    width: 620px;
    border-radius: 14px;
}
.content{
    position: absolute;
    bottom: 100px;
    left: 40px;
    color: white;
}
.btn{
    background-color: white;
    border: none;
    padding: 16px 30px;
    border-radius: 6px;
    font-size: 16px;
}

/*p3*/

.bg2{
    width: 600px;
    margin: 60px auto;
    position: relative;
    text-align: center;
}
.bg-img{
    width: 640px;
    height: 300px;
    object-fit: cover;
}
.search-container{
    display: flex;
    position: absolute;
    bottom: 40%;
    left: 120px;
    align-items: center;
    background-color: #fff;
    padding: 0px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.content-header h3{
    position: absolute;
    top: 30%;
    left: 17%;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}
.content-header h1{
    position: absolute;
    top: 13%;
    left: 41%;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.location-dropdown select,
.search-bar input,
.search-bar button {
    padding: 8px;
    border: 1px ;
    font-size: 14px;
}

.location-dropdown select {
    margin-right: 8px;
    border-radius: 4px;
}

.search-bar input {
    flex: 1;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    background-color: #ff4d4d;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}


.search-bar button:hover {
    background-color: #e33e3e;
}
/*last*/
.profile img{
    width: 200px;
}