:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 10px;
}

nav{
  margin-bottom: 30px;
  border-bottom: white 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer{
  border-top: white 1px solid;
  margin-top: 30px;
  padding-top: 20px;
}
.footer-top{
  display: flex;
  text-align: left;
}
.footer-bottom{
  border-top: white 1px solid;
  margin-top: 10px;
  padding-top: 20px;
}
li{
  list-style-type: none;
}
a{
  
  text-decoration: none;
  color: white;
}