body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #fefdfd;
}

#blogs{
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: #f8f9f9;
    border-radius: 14px;
    box-shadow: 0px 0px 12px #d5d8dc;
}

#blogs p{
    font-size: 20px;
}

.related-articles {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.related-articles h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.related-articles li {
    font-size: 20px;
    margin-bottom: 20px;
    list-style: none;
}
/*
.related-articles a {
    color: #ff0101;
}
*/
.related-articles a:link {
    color: #ff0101;
}

.related-articles a:visited {
    color: #034693;
}

.related-articles a:hover {
    color: #9400fd;
    border-bottom: 3px solid #9400fd;
}

.related-articles a:active {
    color: #034693;
    border-bottom: 3px solid #034693;
}
