html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}

#title{
    text-align: center;
    background-color: rgba(4, 176, 176, 0.823);
    font-size: 40px;
    padding: 20px;
    margin: 0;
}

.fixed-nav{
    position: sticky;
    top: -1px;
    text-align: center;
    background-color: #262727;
    padding: 14px;
    width: 100%;
    color: aliceblue;
}
nav a{
    font-size: 18px;
    margin: 0px 15px;
    color: aliceblue;
}


#about, #projects, #contact{
    padding:1px 20px;
    font-size: 20px;
}

button{
    margin: 20px;
    padding: 7px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: antiquewhite;
    cursor: pointer;
}

footer{
    margin: 0px;
    text-align: center;
    padding: 9px 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(242, 242, 242);
    background-color: #474949;
}