* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf3KJMC_mLI09kToUMf-X-8nAV3oIE7g6xpg&s') no-repeat center center/cover;
    padding: 100px 20px;
}
h1{
    color:  #10a713;
    text-align: center;
    font-size: 60px;
}
h2{
    color: #10a713;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}
h3{
    color: #10a713;
    font-size: 30px;
}
p{
    color: #218026;
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
}
ul{
    list-style: square;
    margin-left: 20px;
    color:#095b02;
    font-size: 25px;
    text-align: center;
}
a{
    color: #095b02;
    font-size: 25px;
}
footer ul li{
   
    display: inline-block;
}